.card-bg {
  padding: 2rem;
  background-color: lightgray;
  border-radius: 1rem;
  margin-top: 1rem;
}
.Search-Card {
  display: flex;
  flex-direction: column;
}
.Search-Card input {
  border: white;
  border-radius: 5px;
  height: 2rem;
}
.Search-Card input:focus {
  outline: 3px dotted greenyellow;
}
.location {
  background-color: hotpink;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.vehicle {
  background-color: white;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
}
.vehicle img {
  width: 50px;
}
